<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

    <title>Anonymouse</title>

  </head>

  <div style="
  background: -webkit-linear-gradient(pink, brown);
  background: -o-linear-gradient(pink, brown);
  background: -moz-linear-gradient(pink, brown);
  background: linear-gradient(pink, brown);
  font-family:Comic Sans MS, cursive, sans-serif;
  font-size: 28px">

    <img src="https://i.ytimg.com/vi/gPSa-IYj_kU/maxresdefault.jpg" alt="NO HACKING FOR YOU" style="display:none; height:95vh; width:95vw">

    <div class="pure-menu pure-menu-horizontal" style="
      background: -webkit-linear-gradient(red, yellow);
      background: -o-linear-gradient(red, yellow);
      background: -moz-linear-gradient(red, yellow);
      background: linear-gradient(red, yellow);
      height:5vh; overflow:hidden">
        <a href="#" class="pure-menu-heading pure-menu-link">ANONYMOUSE</a>
        <ul class="pure-menu-list" style="float:right">
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Selected</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Normal</a></li>
            <li class="pure-menu-item pure-menu-disabled">Disabled</li>
        </ul>
    </div>

    <div class="pure-menu custom-restricted-width" style="display:inline-block;
      background: -webkit-linear-gradient(red, yellow);
      background: -o-linear-gradient(red, yellow);
      background: -moz-linear-gradient(red, yellow);
      background: linear-gradient(red, yellow);
     height:95vh; overflow:hidden">
        <span class="pure-menu-heading">Sidebar</span>
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">items</a></li>
      </ul>
    </div>

    <div class="content" style="background:white; position:absolute;
    top:20vh; height:60vh; left:20vw; width:60vw;">
    <p>HERE ARE SOME NOTIFICATIONS</p>
      {% block body_block %}{% endblock %}
    </div>

  </div>
</html>
